#menu ul li { display: inline; }


#menu li:hover{
	background-color: red;
	color:green;
}

#menu ul {
	
	margin:0px;
	float: left;
	width: 97%;
	background-color:yellowgreen;
	list-style:none;
	

}
 
#menu ul li a {
	background-color:yellowgreen;
	color: black;
	text-decoration: none;
	float:left;
	
}

#barraVermelha{
	background-color: #C80000;
} 
 
#menu ul li a:hover {
	background-color:#C0C0C0;
	color: #6D6D6D;
	
}

#tabela {
	left: 35%;
	margin-left: -100px; /* A metade de sua largura. */
	position: absolute	;
	width: 200px;
	padding: 150px 10px;
}

#tabela  table{
	width:560px;
	height:150px;
}

.iconeEditar, .iconeVisualizar, .iconeDeletar{
    height: 15px;
    width: 15px;
    margin: auto;
}

.iconeEditar{
    background: url("./imagens/botaoEditar.png") no-repeat;
}

.iconeVisualizar{
    background: url("./imagens/botaoVisualizar.png") no-repeat;
}

.iconeDeletar{
    background: url("./imagens/botaoDeletar.png") no-repeat;
}

.colunaEditar{
	background-color: rgba(139, 137, 137, .0);
    height: 30px;
    text-align: right;
}

.divColunaEditar ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    height: auto;
}

.divColunaEditar ul li{
    display: inline;
}

.divColunaEditar ul li a{
    margin-top:5px;
    margin-right: 5px;
    width: auto;
    display: inline-block;
    /*visual do link*/
    text-decoration: none;
}
	
	


